<footer class="footer">
    <div class="footer__container container">
        <div class="footer__offers">
            <ul class="footer__offers-list">
                <li class="footer__offers-item">
                    <img src="./images/Truck.svg" alt="Delivery" loading="lazy">
                    <div class="item__text">
                        <p class="item__text-upper" data-i18n="offers.freeDelivery.title">Free Delivery</p>
                        <p class="item__text-lower" data-i18n="offers.freeDelivery.subtitle">From $29.99</p>
                    </div>
                </li>
                <li class="footer__offers-item">
                    <img src="./images/Stopwatch.svg" alt="Stopwatch" loading="lazy">
                    <div class="item__text">
                        <p class="item__text-upper" data-i18n="offers.withdrawal.title">Free Withdrawal 1h</p>
                        <p class="item__text-lower" data-i18n="offers.withdrawal.subtitle">In Store</p>
                    </div>
                </li>
                <li class="footer__offers-item">
                    <img src="./images/Security.svg" alt="Shield" loading="lazy">
                    <div class="item__text">
                        <p class="item__text-upper" data-i18n="offers.secure.title">100% Secure Payment</p>
                        <p class="item__text-lower" data-i18n="offers.secure.subtitle">At Your Service</p>
                    </div>
                </li>
                <li class="footer__offers-item">
                    <img src="./images/Corp.svg" alt="Corp" loading="lazy">
                    <div class="item__text">
                        <p class="item__text-upper" data-i18n="offers.returns.title">Returns & Exchanges</p>
                        <p class="item__text-lower" data-i18n="offers.returns.subtitle">Offered 365 Days</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="footer__main">
            <div class="footer__main-form">
                <div class="main-form__title">
                    <p data-i18n="footer.form.title">Let's Stay In Touch</p>
                </div>
                <form class="main-form__form">
                    <input class="form__input" type="email" placeholder="Enter Email..." title="Subscribe"
                        data-i18n-attr="placeholder" data-i18n="footer.form.placeholder" />
                    <button class="form__button" type="submit" data-i18n="buttons.subscribe">Subscribe</button>
                </form>
                <div class="main__image">
                    <img src="./images/LogoAlternate.svg" alt="Nike Logo" loading="lazy">
                </div>
            </div>

            <div class="footer__main-links">
                <div class="footer__list-once">
                    <div class="footer__list-container">
                        <p class="footer__list-once-title" data-i18n="footer.shop">SHOP</p>
                        <ul class="main__list">
                            <li>
                                <a href="./men.html" class="main__list-item" data-i18n="footer.mens">Mens</a>
                            </li>
                            <li>
                                <a href="./women.html" class="main__list-item" data-i18n="footer.womens">Womens</a>
                            </li>
                            <li>
                                <a href="./new-arrivals.html" class="main__list-item"
                                    data-i18n="footer.newArrival">New Arrival</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__list-container">
                        <p class="footer__list-once-title" data-i18n="footer.contact">CONTACT US</p>
                        <ul class="main__list">
                            <li>
                                <a href="./stores.html" class="main__list-item" data-i18n="footer.findStore">Find a
                                    Store</a>
                            </li>
                            <li>
                                <a href="./contact.html" class="main__list-item"
                                    data-i18n="footer.contactUs">Contact Us</a>
                            </li>
                            <li>
                                <a href="./terms.html" class="main__list-item" data-i18n="footer.terms">Terms &
                                    Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__list-once">
                    <div class="footer__list-container">
                        <p class="footer__list-once-title" data-i18n="footer.services">OUR SERVICES</p>
                        <ul class="main__list">
                            <li>
                                <a href="./customize.html" class="main__list-item" data-i18n="footer.customize">Customize
                                    your products</a>
                            </li>
                            <li>
                                <a href="./gift-card.html" class="main__list-item" data-i18n="footer.giftCard">Gift
                                    Card</a>
                            </li>
                            <li>
                                <a href="./repair.html" class="main__list-item" data-i18n="footer.maintainRepair">Maintain
                                    & Repair</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__list-container">
                        <p class="footer__list-once-title" data-i18n="footer.enterprise">OUR ENTERPRISE</p>
                        <ul class="main__list">
                            <li>
                                <a href="./about.html" class="main__list-item" data-i18n="footer.who">Who are
                                    we?</a>
                            </li>
                            <li>
                                <a href="./press.html" class="main__list-item" data-i18n="footer.press">Press and
                                    news</a>
                            </li>
                            <li>
                                <a href="./alliances.html" class="main__list-item"
                                    data-i18n="footer.alliances">Our alliances</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__list-solo">
                    <div class="footer__list-container">
                        <p class="footer__list-once-title" data-i18n="footer.help">NEED HELP ?</p>
                        <ul class="main__list">
                            <li>
                                <a href="./account.html" class="main__list-item" data-i18n="footer.myAccount">My
                                    Account</a>
                            </li>
                            <li>
                                <a href="./shipping.html" class="main__list-item"
                                    data-i18n="footer.shipping">Shipping</a>
                            </li>
                            <li>
                                <a href="./returns.html" class="main__list-item" data-i18n="footer.returns">Return &
                                    Exchanges</a>
                            </li>
                            <li>
                                <a href="./faqs.html" class="main__list-item" data-i18n="footer.faqs">FAQs</a>
                            </li>
                            <li>
                                <a href="./rewards.html" class="main__list-item"
                                    data-i18n="footer.rewards">Rewards</a>
                            </li>
                            <li>
                                <a href="./loyalty.html" class="main__list-item" data-i18n="footer.loyalty">Loyalty
                                    program</a>
                            </li>
                            <li>
                                <a href="./guides.html" class="main__list-item" data-i18n="footer.howToChoose">How
                                    to choose your product?</a>
                            </li>
                            <li>
                                <a href="./trends.html" class="main__list-item" data-i18n="footer.trends">Sports
                                    Trends</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__copyright">
            <div class="footer__copyright-text" data-i18n-html="true" data-i18n="footer.rights">
                2022 Nike, Inc. All Rights Reserved <span class="special--symbol"><img src="./images/Copyright.svg"
                        alt="Copyright" loading="lazy"></span>
            </div>
            <div class="footer__copyright-soc1als">
                <ul class="soc1als-list">
                    <li>
                        <a href="/">
                            <img src="./images/Youtube.svg" alt="Youtube" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="./images/Facebook.svg" alt="Facebook" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="./images/Twitter.svg" alt="Twitter" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="./images/Instagram.svg" alt="Instagram" loading="lazy">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


