@font-face {
    font-family: 'FuturaBT-Book';
    src: url('../fonts/FuturaBT-Book.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-ExtraBlackConditalic';
    src: url('../fonts/FuturaBT-ExtraBlackCondItalic.woff2') format('woff2');
    font-weight: 950;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Heavy';
    src: url('../fonts/FuturaBT-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-LightCondensed';
    src: url('../fonts/FuturaBT-LightCondensed.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Medium';
    src: url('../fonts/FuturaBT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Bold';
    src: url('../fonts/FuturaLT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaBT-Regular';
    src: url('../fonts/FuturaLT.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}