.visionaries {
    padding-top: var(--section-padding-y);
}

.visionaries__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visionaries__content-container {
    display: flex;
    flex-direction: column;
    width: 621px;
    row-gap: 29px;
}

.visionaries__button {
    width: 241px;
    padding: 12px 24px 12px 24px;
}

.visionaries__title {
    font-family: 'FuturaBT-Medium';
    font-weight: 500;
    font-size: 48px;
    color: var(--color-light);
    text-transform: uppercase;
}

.title--specific {
    color: var(--color-accent);
}

.visionaries__text {
    font-family: 'FuturaBT-Book';
    font-weight: 350;
    font-size: 16x;
    color: var(--color-light);
    text-align: start;
    width: 621px;
}

.text--specific {
    font-family: 'FuturaBT-Heavy';
}

@media (max-width: 1280px) {
    .visionaries__container {
        flex-direction: column;
        row-gap: 20px;
    }

    .visionaries__text {
        text-align: center;
    }

    .visionaries__content-container {
        text-align: center;
        width: auto;
        align-items: center;
    }
}

@media (max-width: 765px) {
    .visionaries__container {
        width: auto;
        padding-inline: 0px;
    }

    .visionaries__text {
        font-size: 16px;
        width: 200px;
    }

    .visionaries__title {
        font-size: 41px;
        width: auto;
        text-align: center;
    }
}